name: Backend CI/CD

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./andhiki/prpl-keuangan-desa/prpl-keuangan-desa-dev/backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "pnpm"
          cache-dependency-path: andhiki/prpl-keuangan-desa/prpl-keuangan-desa-dev/backend/pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run tests
        run: echo "test"

  build-and-push:
    name: Build and Push to Docker Hub
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/dev'
    needs: test # Don't build if tests fail

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: vityasyyy
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: vityasyyy/prpl-keuangan-desa-backend
          tags: |
            # type=schedule
            # type=ref,event=branch
            type=sha,prefix=dev-,format=short
            type=raw,value=dev

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./andhiki/prpl-keuangan-desa/prpl-keuangan-desa-dev/backend
          file: ./andhiki/prpl-keuangan-desa/prpl-keuangan-desa-dev/backend/dockerfiles/Dockerfile.prod
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
